{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class="active" aria-current="true"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item">
                    <img src="{{ asset('img/Accueil1.webp') }}" alt="" style="height: 550px; width: 100%;">
                    <div class="container">
                        <div class="carousel-caption text-start">
                            <h1>Example headline.</h1>
                            <p>Some representative placeholder content for the first slide of the carousel.</p>
                            <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('img/Accueil1.webp') }}" alt="" style="height: 550px; width: 100%;">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>Another example headline.</h1>
                            <p>Some representative placeholder content for the second slide of the carousel.</p>
                            <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item active">
                    <img src="{{ asset('img/Accueil1.webp') }}" alt="" style="height: 550px; width: 100%;">
                    <div class="container">
                        <div class="carousel-caption text-end">
                            <h1>One more for good measure.</h1>
                            <p>Some representative placeholder content for the third slide of this carousel.</p>
                            <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>


        <!-- Marketing messaging and featurettes
        ================================================== -->
        <!-- Wrap the rest of the page in another container to center all the content. -->


            <!-- START THE FEATURETTES -->

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading fw-normal lh-1">Nos hébergements</h2>
                    <p class="lead">Au camping Le Brasilia, vous bénéficiez d’un grand choix d’hébergements locatifs (du bungalow au chalet ou cottage Premium) et d’emplacements pour tentes, caravanes, camping-cars et autres fourgons aménagés. Pour un couple, une famille ou un groupe d’amis, vous êtes assurés de trouver dans notre établissement du bord de mer de Canet en Roussillon l’offre d’accueil et d’hébergement correspondant à votre besoin !</p>
                </div>
                <div class="col-md-5">
                    <img src="{{ asset('img/NosHerbgements.webp') }}" alt="" style="height: 500px; width: 500px;">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading fw-normal lh-1">A Propos</h2>
                    <p class="lead">L’histoire du Brasilia, c’est avant tout une histoire de famille, attachée aux racines catalanes et aux valeurs d’origine de l’accueil touristique : placer le client au cœur de toutes les attentions.
                        Initiée par M. et Mme Pla et reprise par Roger leur fils, la politique de proximité avec les clients, l’écoute et la disponibilité ont toujours été les atouts forts du Brasilia. L’âme de notre camping des Pyrénées Orientales continue à vivre à travers les équipes actuelles qui suivent le chemin tracé par ses créateurs.</p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img src="{{ asset('img/') }}" alt="" style="height: 500px; width: 500px;">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading fw-normal lh-1">Infos Pratiques</h2>
                    <p class="lead">Les vacanciers susceptibles d’arriver après l’heure de fermeture de la réception pour raison exceptionnelle sont invités à téléphoner au +33 (0)4 68 80 23 82 aux horaires d’ouverture de la réception ou le cas échéant les gardiens de nuit au +33 (0)6 10 75 23 72 pour prévenir de leur arrivée tardive et organiser dans la mesure du possible un accueil tardif. Pour plus d’information, se reporter à la FAQ.</p>
                </div>
                <div class="col-md-5">
                    <img src="{{ asset('img/InfoPratique.webp') }}" alt="" style="height: 500px; width: 500px;">
                </div>
            </div>

            <hr class="featurette-divider">

        </div>
{% endblock %}
