{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>
    <section class="py-5 container" style="display: flex; justify-content: space-around;">
        <!-- Formulaire de reservation -->
        <div class="row g-3 needs-validation" novalidate style="width: 60%;">
            {{ form_start(registrationForm) }}
            <h2 style="text-align: center">Inscrire un nouvel utilisateur</h2>
            <!--Prénom-->
            <div class="col-md-4">
                {{ form_row(registrationForm.firstName, {
                    label: 'Prénom'}) }}
            </div>

            <!--Nom-->
            <div class="col-md-4">
                {{ form_row(registrationForm.lastName, {
                    label: 'Nom'}) }}
            </div>

            <!--Email-->
            <div class="col-md-4">
                {{ form_row(registrationForm.email) }}
            </div>

            <!--Téléphone-->
            <div class="col-md-4">
                {{ form_row(registrationForm.phone, {
                    label: 'Téléphone'}) }}
            </div>

            <!--Mot de passe-->
            <div class="col-md-4">
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Mot de Passe'}) }}
            </div>

            <!--Type de compte-->
            <div class="col-md-3">
                {{ form_row(registrationForm.roles, {
                    label: 'Type de compte'}) }}
            </div>

            <!-- Accepte les termes et conditions -->
            <div class="col-12">
                <div class="form-check">
                    {{ form_row(registrationForm.agreeTerms) }}
                </div>
            </div>

            <!--Bouton d'inscription-->
            <div class="col-12">
                <button class="btn btn-secondary" type="submit">Inscrire</button>
            </div>
            {{ form_end(registrationForm) }}
        </div>
    </section>
{% endblock %}
