
{% extends 'base.html.twig' %}

{% block title %}Mobile-Home{% endblock %}

{% block body %}
    <!--Partie du titre et image d'accueil-->
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <!-- Titre de la page-->
                <h1 class="fw-light">LES MOBILES-HOMES</h1>
                <!-- Sous-titre de la page -->
                <p class="lead text-muted">BLABLABLA</p>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for mobilehome in mobilehomes %}
                <div class="col">
                    <div class="card shadow-sm">
                        <!-- Image du logement -->
                        <img src="{{ mobilehome.img }}" width="100%" height="225">
                        <div class="card-body">
                            <!-- Titre du logement -->
                            <p>{{ mobilehome.infoLogement.title }}</p>
                            <!-- Description du logement -->
                            <p class="card-text">{{ mobilehome.description }}</p>
                            <!-- Tarif du logement -->
                            <p>A partir de {{ mobilehome.infoLogement.price }} € de la nuit.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <!-- Lien vers la page réservation du logement en question -->
                                    <a href="{{ path('app_hebergement_reservation', {id: mobilehome.id}) }}" class="btn btn-secondary my-2">Réservez</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}